<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<head th:replace="/common/link::header">
</head>
<link rel="stylesheet" th:href="@{/static/plugins/chosen/chosen.css}" />
<style type="text/css">
    .dataTables_wrapper .row:first-child {
        padding-top: 18px;
        padding-bottom: 0px;
        background-color: #ffffff;
    }

    .dataTables_wrapper .row:last-child {
        border-bottom: 0px;
        padding-top: 12px;
        padding-bottom: 12px;
        background-color: #ffffff;
    }

    .chosen-select{
        padding-left: 15px;
    }
</style>

<body class="skin-1">
<div th:replace="/common/navbar-top::navbar-top"></div><!-- navbar-top -->

<div class="main-container ace-save-state" id="main-container">
    <script type="text/javascript">
        try {
            ace.settings.loadState('main-container')
        } catch (e) {
        }
    </script>

    <div id="sidebar" class="sidebar responsive ace-save-state">
        <script type="text/javascript">
            try {
                ace.settings.loadState('sidebar')
            } catch (e) {
            }
        </script>

        <div th:replace="/common/sidebar-shortcuts::sidebar-shortcuts"></div><!-- /.sidebar-shortcuts -->

        <div th:replace="/common/navbar-left::navbar-left"></div><!-- /.nav-list -->

        <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
            <i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state"
               data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
        </div>
    </div>

    <div class="main-content">
        <div class="main-content-inner">
            <div class="breadcrumbs ace-save-state" id="breadcrumbs">
                <ul class="breadcrumb">
                    <li>
                        <i class="ace-icon fa fa-home home-icon"></i>
                        <a href="#">Home</a>
                    </li>

                    <li>
                        <a href="#" th:text="${menu}"></a>
                    </li>
                    <li class="active" th:text="${title}"></li>
                </ul><!-- /.breadcrumb -->
                <div th:replace="/common/nav-search::nav-search"></div><!-- /.nav-search -->
            </div>

            <div class="page-content">
                <div class="row">
                    <!-- PAGE CONTENT BEGINS -->
                    <form role="form" class="form-horizontal" id="search-form">
                        <div class="center-block">
                            <div class="form-group col-sm-2">
                                <label class="col-sm-4 control-label no-padding-right"
                                       for="form-showName">名称：</label>
                                <div class="col-sm-8 no-padding-left">
                                    <input type="text" id="form-showName" placeholder="菜单名称" name="showName"
                                           autocomplete="off"
                                           class="input-sm form-control"/>
                                </div>
                            </div>
                            <div class="form-group col-sm-2">
                                <label class="col-sm-4 control-label no-padding-right"
                                       for="form-status">状态：</label>
                                <div class="col-xs-8 no-padding-left">
                                    <select class="form-control input-sm"
                                            data-placeholder="Choose a State..." id="form-status" name="status">
                                        <option value="1">有效</option>
                                        <option value="0">无效</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group col-sm-2">
                                <div class="col-sm-4 container">
                                    <button type="button" class="btn btn-success btn-sm" id="menu-search">
                                        <span class="ace-icon fa fa-search icon-on-right bigger-110"></span>
                                        搜索
                                    </button>
                                </div>
                                <div class="col-sm-4 container">
                                    <button type="button" class="btn btn-primary btn-sm" id="menu-add"
                                            data-toggle="modal" href="#modal-table">
                                        <span class="ace-icon fa fa-plus-circle icon-on-right bigger-110"></span>
                                        新增
                                    </button>
                                </div>
                                <div class="col-sm-4 container">
                                    <button class="btn btn-inverse btn-sm" type="reset">
                                        <i class="ace-icon fa fa-undo bigger-110"></i>
                                        重置
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <table id="dynamic-table" class="table table-striped table-bordered table-hover">
                    </table>

                    <div id="modal-table" class="modal fade" tabindex="-1">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header no-padding">
                                    <div class="table-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                            <span class="white">&times;</span>
                                        </button>
                                        新增菜单
                                    </div>
                                </div>

                                <div class="modal-body widget-main no-padding">
                                    <form class="form-horizontal" role="form" id="menu-form">
                                        <input type="text" id="add-tableKey" name="tableKey" hidden/>
                                        <div class="hr hr-24"></div>
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label no-padding-right" for="add-showName">
                                                菜单名称: </label>
                                            <div class="col-sm-8">
                                                <input type="text" id="add-showName" placeholder="菜单名称"
                                                       class="col-xs-10 col-sm-5" autocomplete="off" name="showName"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label no-padding-right" for="add-url">
                                                菜单地址: </label>
                                            <div class="col-sm-8">
                                                <input type="text" id="add-url" placeholder="菜单地址"
                                                       class="col-xs-10 col-sm-5" autocomplete="off" name="url"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label no-padding-right"
                                                   for="add-parentKey"> 父级菜单: </label>
                                            <div class="col-sm-8">
                                                <select class="col-xs-10 col-sm-5" id="add-parentKey" name="parentKey">
                                                    <option value="">-</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label no-padding-right" for="add-sort">
                                                排序: </label>
                                            <div class="col-sm-8">
                                                <input type="number" id="add-sort" placeholder="当前层级排序"
                                                       class="col-xs-10 col-sm-5" name="sort"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label no-padding-right" for="add-code">
                                                菜单ID: </label>
                                            <div class="col-sm-8">
                                                <input type="text" id="add-code" placeholder="菜单唯一标识ID"
                                                       class="col-xs-10 col-sm-5" name="code"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label no-padding-right" for="add-menuType">
                                                菜单类型: </label>
                                            <div class="col-sm-8">
                                                <select class="col-xs-10 col-sm-5" id="add-menuType" name="menuType">
                                                    <option value="item">元素</option>
                                                    <option value="folder">目录</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label no-padding-right" for="add-imgClass">
                                                菜单图标: </label>
                                            <div class="col-sm-8">
                                                <input type="text" id="add-imgClass" placeholder="菜单图标"
                                                       class="col-xs-10 col-sm-5" name="imgClass"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-4 control-label no-padding-right" for="add-status">
                                                状态: </label>
                                            <div class="col-sm-8">
                                                <select class="col-xs-10 col-sm-5"
                                                        data-placeholder="Choose a State..." id="add-status" name="status">
                                                    <option value="1">有效</option>
                                                    <option value="0">无效</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-actions center">
                                            <button type="button" class="btn btn-sm btn-success" id="add-btn">
                                                Submit
                                                <i class="ace-icon fa fa-arrow-right icon-on-right bigger-110"></i>
                                            </button>
                                            <button class="btn btn-sm btn-purple " type="reset">
                                                <i class="ace-icon fa fa-undo bigger-110"></i>
                                                Reset
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div>
                    <!-- PAGE CONTENT ENDS -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->
    <div th:replace="/common/footer::footer"></div><!-- /.footer -->
    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse display">
        <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
    </a>
</div><!-- /.main-container -->

<!-- page specific plugin scripts -->
<script th:src="@{/static/plugins/datatable/jquery.dataTables.js}"></script>
<script th:src="@{/static/plugins/datatable/dataTables.bootstrap4.js}"></script>
<script th:src="@{/static/plugins/chosen/chosen.jquery.min.js}"></script>
<script th:src="@{/static/bootstrap/date/bootstrap-datetimepicker.js}"></script>


<!-- ace scripts -->
<script th:src="@{/static/assets/js/ace-elements.min.js}"></script>
<script th:src="@{/static/assets/js/ace.min.js}"></script>

<!-- inline scripts related to this page -->
<script th:src="@{/static/js/sys/menu.js}"></script>
</body>
</html>
