<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<head th:replace="/common/link::header">
</head>
<style type="text/css">
    .dataTables_wrapper .row:first-child {
        padding-top: 18px;
        padding-bottom: 0px;
        background-color: #ffffff;
    }

    .dataTables_wrapper .row:last-child {
        border-bottom: 0px;
        padding-top: 12px;
        padding-bottom: 12px;
        background-color: #ffffff;
    }

    .chosen-select{
        padding-left: 15px;
    }
</style>

<body class="skin-1">
<div th:replace="/common/navbar-top::navbar-top"></div><!-- navbar-top -->

<div class="main-container ace-save-state" id="main-container">
    <script type="text/javascript">
        try {
            ace.settings.loadState('main-container')
        } catch (e) {
        }
    </script>

    <div id="sidebar" class="sidebar responsive ace-save-state">
        <script type="text/javascript">
            try {
                ace.settings.loadState('sidebar')
            } catch (e) {
            }
        </script>

        <div th:replace="/common/sidebar-shortcuts::sidebar-shortcuts"></div><!-- /.sidebar-shortcuts -->

        <div th:replace="/common/navbar-left::navbar-left"></div><!-- /.nav-list -->

        <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
            <i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state"
               data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
        </div>
    </div>

    <div class="main-content">
        <div class="main-content-inner">
            <div class="breadcrumbs ace-save-state" id="breadcrumbs">
                <ul class="breadcrumb">
                    <li>
                        <i class="ace-icon fa fa-home home-icon"></i>
                        <a href="#">Home</a>
                    </li>

                    <li>
                        <a href="#" th:text="${menu}"></a>
                    </li>
                    <li class="active" th:text="${title}"></li>
                </ul><!-- /.breadcrumb -->
                <div th:replace="/common/nav-search::nav-search"></div><!-- /.nav-search -->
            </div>

            <div class="page-content">
                <div class="row">
                    <!-- PAGE CONTENT BEGINS -->
                    <form role="form" class="form-horizontal" id="search-form">
                        <div class="center-block">
                            <div class="form-group col-sm-2">
                                <label class="col-sm-4 control-label no-padding-right"
                                       for="form-submissionId">单号：</label>
                                <div class="col-sm-8 no-padding-left">
                                    <input type="text" id="form-submissionId" placeholder="订单编号" name="submissionId" class="input-sm form-control"/>
                                </div>
                            </div>
                            <div class="form-group col-sm-2">
                                <label class="col-sm-4 control-label no-padding-right"
                                       for="form-title">标  题：</label>
                                <div class="col-sm-8 no-padding-left">
                                    <input type="text" id="form-title" placeholder="标  题" name="title" class="input-sm form-control"/>
                                </div>
                            </div>
                            <div class="form-group col-sm-2">
                                <label class="col-sm-4 control-label no-padding-right"
                                       for="form-comeFrom">投稿来源：</label>
                                <div class="col-xs-8 no-padding-left">
                                    <select class="input-sm form-control" id="form-comeFrom" name="comeFrom">
                                        <option value="">-</option>
                                        <option value="weixin">微信</option>
                                        <option value="web">WEB端</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group col-sm-2">
                                <label class="col-sm-4 control-label no-padding-right"
                                       for="form-company">公司：</label>
                                <div class="col-xs-8 no-padding-left">
                                    <select class="input-sm form-control" id="form-company" name="company">
                                        <option value="">-</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group col-sm-2">
                                <label class="col-sm-4 control-label no-padding-right"
                                       for="form-status">状态：</label>
                                <div class="col-xs-8 no-padding-left">
                                    <select class="input-sm form-control" id="form-status" name="status">
                                    </select>
                                </div>
                            </div>
                            <div class="form-group col-sm-2">
                                <div class="col-sm-5">
                                    <button type="button" class="btn btn-success btn-sm" id="form-search">
                                        <span class="ace-icon fa fa-search icon-on-right bigger-110"></span>
                                        搜索
                                    </button>
                                </div>
                                <div class="col-sm-5">
                                    <button class="btn btn-inverse btn-sm" type="reset">
                                        <i class="ace-icon fa fa-undo bigger-110"></i>
                                        重置
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <table id="dynamic-table" class="table table-striped table-bordered table-hover">
                    </table>
                    <div th:replace="/ace/submission/submissionDetail::submissionDetail"></div>
                    <!-- PAGE CONTENT ENDS -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->
    <div th:replace="/common/footer::footer"></div><!-- /.footer -->
</div><!-- /.main-container -->

<!-- page specific plugin scripts -->
<script th:src="@{/static/plugins/datatable/jquery.dataTables.js}"></script>
<script th:src="@{/static/plugins/datatable/dataTables.bootstrap4.js}"></script>
<script th:src="@{/static/bootstrap/date/bootstrap-datetimepicker.js}"></script>
<!-- ace scripts -->
<script th:src="@{/static/assets/js/ace-elements.min.js}"></script>
<script th:src="@{/static/assets/js/ace.min.js}"></script>
<!-- inline scripts related to this page -->
<script th:src="@{/static/js/submission/submissionList.js}"></script>
<script th:src="@{/static/js/submission/subCommon.js}"></script>

</body>
</html>
