<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<head  th:replace="/common/link::header">
</head>

<body class="skin-1">
<div th:replace="/common/navbar-top::navbar-top"></div>
<div class="main-container ace-save-state" id="main-container">
	<script type="text/javascript">
		try{ace.settings.loadState('main-container')}catch(e){}
	</script>

	<div id="sidebar" class="sidebar responsive ace-save-state">
		<script type="text/javascript">
			try{ace.settings.loadState('sidebar')}catch(e){}
		</script>

		<div th:replace="/common/sidebar-shortcuts::sidebar-shortcuts"></div><!-- /.sidebar-shortcuts -->

		<div th:replace="/common/navbar-left::navbar-left"></div><!-- /.nav-left -->

		<div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
			<i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
		</div>
	</div>

	<div class="main-content">
		<div class="main-content-inner">
			<div class="breadcrumbs ace-save-state" id="breadcrumbs">
				<ul class="breadcrumb">
					<li>
						<i class="ace-icon fa fa-home home-icon"></i>
						<a href="index.html">Home</a>
					</li>
					<li class="active" th:text="${title}">概览</li>
				</ul><!-- /.breadcrumb -->

				<div th:replace="/common/nav-search::nav-search"></div><!-- /.nav-search -->
			</div>

			<div class="page-content">
				<div th:replace="/common/ace-settings-container::ace-settings-container"></div><!-- /.ace-settings-container -->

				<div class="row">
					<div class="col-xs-12">
						<!-- PAGE CONTENT BEGINS -->

<!--						<div class="row">-->
<!--							<div class="col-sm-12">-->
<!--								<iframe id="ifrID" src="http://172.19.10.238:8090/" frameBorder="0" scrolling="no" width="100%" height="500" ></iframe>-->
<!--							</div>-->
<!--						</div>-->
						<div class="hr hr32 hr-dotted"></div>

						<div class="row">
							<div class="space-6"></div>
							<div class="col-sm-7">
								<div class="widget-box transparent">
									<div class="widget-header widget-header-flat">
										<h4 class="widget-title lighter">
											<i class="ace-icon fa fa-star orange"></i>
											环境传感器概览
										</h4>

										<div class="widget-toolbar">
											<a href="#" data-action="collapse">
												<i class="ace-icon fa fa-chevron-up"></i>
											</a>
										</div>
									</div>

									<div class="widget-body">
										<div class="widget-main no-padding">
											<div class="infobox-container" id = "moteOverviewId"></div>
										</div><!-- /.widget-main -->
									</div><!-- /.widget-body -->
								</div><!-- /.widget-box -->
							</div><!-- /.col -->

							<div class="vspace-12-sm"></div>

							<div class="col-sm-5">
								<div class="widget-box">
									<div class="widget-header widget-header-flat widget-header-small">
										<h5 class="widget-title">
											<i class="ace-icon fa fa-signal"></i>
											环境传感器设备
										</h5>

									</div>

									<div class="widget-body">
										<div class="widget-main">
											<div id="piechart-placeholder"></div>

										</div><!-- /.widget-main -->
									</div><!-- /.widget-body -->
								</div><!-- /.widget-box -->
							</div><!-- /.col -->
						</div><!-- /.row -->

						<div class="hr hr32 hr-dotted"></div>
						<!-- PAGE CONTENT ENDS -->
						<div class="row">
							<div class="space-6"></div>
							<div class="col-sm-6">
								<div id="charts1"></div>
							</div>
							<div class="vspace-12-sm"></div>
						</div>
					</div><!-- /.col -->
				</div><!-- /.row -->
			</div><!-- /.page-content -->
		</div>
	</div><!-- /.main-content -->

	<div th:replace="/common/footer::footer"></div><!-- /.footer -->
	<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse display">
		<i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
	</a>
</div><!-- /.main-container -->

<!-- page specific plugin scripts -->

<!--[if lte IE 8]>
<script th:src="@{/static/assets/js/excanvas.min.js}"></script>
<![endif]-->
<script th:src="@{/static/assets/js/jquery-ui.custom.min.js}"></script>
<script th:src="@{/static/assets/js/jquery.ui.touch-punch.min.js}"></script>
<script th:src="@{/static/assets/js/jquery.easypiechart.min.js}"></script>
<script th:src="@{/static/assets/js/jquery.sparkline.index.min.js}"></script>
<script th:src="@{/static/assets/js/jquery.flot.min.js}"></script>
<script th:src="@{/static/assets/js/jquery.flot.pie.min.js}"></script>
<script th:src="@{/static/assets/js/jquery.flot.resize.min.js}"></script>

<script th:src="@{/static/plugins/chart/echarts.js}"></script>

<!-- ace scripts -->
<script th:src="@{/static/assets/js/ace-elements.min.js}"></script>
<script th:src="@{/static/assets/js/ace.min.js}"></script>

<!-- inline scripts related to this page -->
<script th:src="@{/static/js/index_bak.js}"></script>
<script th:src="@{/static/js/indexDemo.js}"></script>
<script type="text/javascript">
	jQuery(function($) {
		$('.easy-pie-chart.percentage').each(function(){
			var $box = $(this).closest('.infobox');
			var barColor = $(this).data('color') || (!$box.hasClass('infobox-dark') ? $box.css('color') : 'rgba(255,255,255,0.95)');
			var trackColor = barColor == 'rgba(255,255,255,0.95)' ? 'rgba(255,255,255,0.25)' : '#E2E2E2';
			var size = parseInt($(this).data('size')) || 50;
			$(this).easyPieChart({
				barColor: barColor,
				trackColor: trackColor,
				scaleColor: false,
				lineCap: 'butt',
				lineWidth: parseInt(size/10),
				animate: ace.vars['old_ie'] ? false : 1000,
				size: size
			});
		})

		$('.sparkline').each(function(){
			var $box = $(this).closest('.infobox');
			var barColor = !$box.hasClass('infobox-dark') ? $box.css('color') : '#FFF';
			$(this).sparkline('html',
					{
						tagValuesAttribute:'data-values',
						type: 'bar',
						barColor: barColor ,
						chartRangeMin:$(this).data('min') || 0
					});
		});

		//flot chart resize plugin, somehow manipulates default browser resize event to optimize it!
		//but sometimes it brings up errors with normal resize event handlers
		$.resize.throttleWindow = false;

		//设备概览
		getMoteOverview();

		//绘制饼图
		var placeholder = $('#piechart-placeholder').css({'width':'90%' , 'min-height':'160px'});
		var data = getTrafficSources();
		drawPieChart(placeholder, data);
		/**
		 we saved the drawing function and the data to redraw with different position later when switching to RTL mode dynamically
		 so that's not needed actually.
		 */
		placeholder.data('chart', data);
		placeholder.data('draw', drawPieChart);

		//pie chart tooltip example
		var $tooltip = $("<div class='tooltip top in'><div class='tooltip-inner'></div></div>").hide().appendTo('body');
		var previousPoint = null;

		placeholder.on('plothover', function (event, pos, item) {
			if(item) {
				if (previousPoint != item.seriesIndex) {
					previousPoint = item.seriesIndex;
					var tip = item.series['label'] + " : " + item.series['percent']+'%';
					$tooltip.show().children(0).text(tip);
				}
				$tooltip.css({top:pos.pageY + 10, left:pos.pageX + 10});
			} else {
				$tooltip.hide();
				previousPoint = null;
			}

		});

		/////////////////////////////////////
		$(document).one('ajaxloadstart.page', function(e) {
			$tooltip.remove();
		});

		var d1 = [];
		for (var i = 0; i < Math.PI * 2; i += 0.5) {
			d1.push([i, Math.sin(i)]);
		}

		var d2 = [];
		for (var i = 0; i < Math.PI * 2; i += 0.5) {
			d2.push([i, Math.cos(i)]);
		}

		var d3 = [];
		for (var i = 0; i < Math.PI * 2; i += 0.2) {
			d3.push([i, Math.tan(i)]);
		}

		$('#recent-box [data-rel="tooltip"]').tooltip({placement: tooltip_placement});
		function tooltip_placement(context, source) {
			var $source = $(source);
			var $parent = $source.closest('.tab-content')
			var off1 = $parent.offset();
			var w1 = $parent.width();

			var off2 = $source.offset();
			//var w2 = $source.width();

			if( parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2) ) return 'right';
			return 'left';
		}

		$('.dialogs,.comments').ace_scroll({
			size: 300
		});
	})
</script>
</body>
</html>
